@import "tailwindcss";

* {
      font-family: "Poppins", sans-serif;
}

/* ---------- Container System ---------- */
.container {
  @apply mx-auto px-4 max-w-full;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    @apply max-w-[720px];
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .container {
    @apply max-w-[960px];
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .container {
    @apply max-w-[1320px];
  }
}


.hText {
      @apply text-[26px] md:text-[36px] font-semibold text-[#203239] leading-[1.3] md:leading-[1.4];
}

.h2Text {
      @apply text-[20px] md:text-[24px] font-medium text-[#203239] leading-[1.35];
}

.pText {
      @apply text-[15px] md:text-[16px] font-normal text-[#203239]/70 leading-[1.7];
      ;
}

.cHtext {
      @apply text-[#203239] text-[16px] font-medium;
}

.cHover {
      @apply w-full md:w-75 md:min-h-[300px] mx-auto p-8 text-left hover:shadow-xl transition-shadow duration-200 cursor-pointer rounded-2xl
}

.btnText {
      @apply inline-flex items-center gap-2 border-2 border-[#203239] rounded-xl py-2.5 px-6 text-[15px] md:text-[16px] font-semibold hover:bg-[#203239] hover:text-white transition-all cursor-pointer mt-5;
}